# .gitignore file  -- we first ignore everything; then add in what we want.
################################################################################

/**
!*.hs
!/.gitignore
!/README.md
!/CHANGELOG.md
!/cabal.project.freeze
!/*.cabal
!/app/
!/test/
!*.txt

